<hr />

<div style="padding-bottom: 25px;margin-bottom: 10px;">
    <div style="float: left;">
        {{ if .Page.NextInSection }}
            {{ with .Page.NextInSection }} <!-- This will return NULL if current page is first in section. -->
            <a href="{{ .Page.RelPermalink }}" class="book-btn">Previous</a>
            {{ end }}
        {{ else }}
            {{ if eq (index .Page.CurrentSection.Pages 0) .Page }} <!-- If current page is same as 1st page in section -->
                {{ with .Page.CurrentSection }} <!-- Render current section _index page as previous link. -->
                <a href="{{ .Page.RelPermalink }}" class="book-btn">Previous</a>
                {{ end }}
            {{ else if eq .Page.CurrentSection .Page }} <!-- If current page is same as index page for section. -->
                <!-- TODO -->
            {{ end }}
        {{ end }}
    </div>
    <div style="float: right;">
        {{ if eq .Page.CurrentSection .Page }} <!-- If current page is same as index page for section. -->
            {{ if ge (len .Page.CurrentSection.Pages) 0 }} <!-- If current section has pages, render Next link pointing to 1st page. -->
                <a href="{{ (index .Page.CurrentSection.Pages 0).RelPermalink }}" class="book-btn">Next</a>
            {{ end }}
        {{ else }}
            {{ with .Page.PrevInSection }}
            <a href="{{ .Page.RelPermalink }}" class="book-btn">Next</a>
            {{ end }}
        {{ end }}
    </div>
</div>
<br/>
<br/>