*.js
!**/lambda/*.js
!workshop/static/**
!workshop/assets/**
!workshop/themes/**
*.d.ts
node_modules
workshop/public/**
workshop/resources/**
workshop/.hugo_build.lock
.DS_Store
obj/
cdk.out/
*~
**/.vscode/**

