.book-menu {
    position: sticky;
    clear:both;
    .book-menu-content {
        background: #232F3E; // Squid Ink Black
        color: white;
    }

    a.active {
        color: #95b0ff; // AMZN light blue

    }
}

aside nav ul a:hover {
    color: #527fff; // AMZN Blue 

    opacity: 1;
}


// Logo in the sidebar 
nav img.awslogo {
    
    margin-left: auto;
    margin-right: auto;
    width: 5rem;
    display: block;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


p.right-aligned img {
    margin-left: 2em;;
    float:right;
}

p.left-aligned img {
    margin-right: 2em;
    float:left;
}

.menu-additional {
    padding-top:1em;
}