aws-cdk.core==1.131.0
aws-cdk.aws_apigateway==1.131.0
aws-cdk.aws_dynamodb==1.131.0
aws-cdk.aws_sns==1.133.0
aws-cdk.aws_sqs==1.131.0
aws-cdk.aws_codecommit==1.131.0
aws-cdk.aws_codepipeline==1.131.0
aws-cdk.aws_codepipeline_actions==1.131.0
aws-cdk.pipelines==1.131.0
cdk-dynamo-table-view==0.1.139
