name: Build workshop site

on: [pull_request]

jobs:
  build:
    name: Build using Hugo
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: 'latest'
          extended: true

      - name: Install NPM dependencies
        working-directory: ./cdkworkshop.com
        run: npm install --frozen-lockfile

      - name: Build site
        working-directory: ./cdkworkshop.com
        run: npm run build
